<!doctype html>
<html>
  <head>
    <title>Quest website</title>
    <link rel="stylesheet" href="/tailwind.css" />
    <script src="https://unpkg.com/htmx.org@1.9" defer></script>
    <script src="https://unpkg.com/alpinejs@3" defer></script>
  </head>
  <body class="bg-slate-300">
    <div class="container mx-auto">
      <div class="flex flex-row flex-wrap py-4">
        <div class="order-first mb-2 ml-auto min-w-32 flex-shrink flex-grow-0">
          <nav
            class="min-w-32 border-4 border-slate-500 bg-slate-50 p-2 [border-style:ridge] lg:fixed lg:top-4 lg:mr-2"
          >
            <!-- <nav class="fixed left-0 top-0 object-right-top max-w-80"> -->
            <h1 class="mb-1 text-2xl"><a href="/">{{ config.site_name }}</a></h1>
            <ul>
              <li class="hover:bg-slate-200"><a href="/">Home</a></li>
              <li class="hover:bg-slate-200">Popular</li>
              <li class="hover:bg-slate-200">Recent</li>
              <hr
                class="border-1 my-1 border-slate-700 dark:border-slate-300"
              />
              <li class="hover:bg-slate-200">Following</li>
              <li class="hover:bg-slate-200">My quests</li>
            </ul>
          </nav>
        </div>
        <div
          class="order-last mx-2 w-full max-w-prose border-4 border-slate-500 bg-slate-50 p-2 [border-style:ridge] lg:order-2"
        >
          {% block content %}{% endblock content %}
        </div>
        <div
          class="order-2 mb-2 mr-auto min-w-32 flex-shrink flex-grow-0 lg:order-last"
        >
          <nav
            class="min-w-32 border-4 border-slate-500 bg-slate-50 p-2 [border-style:ridge] lg:fixed lg:top-4 lg:mr-2"
          >
            <!-- <nav class="fixed left-0 top-0 object-right-top max-w-80"> -->
            <h1 class="mb-1 text-2xl">Guest</h1>
            <ul>
              <li class="hover:bg-slate-200">Log in/Register</li>
              <li class="hover:bg-slate-200">Profile</li>
              <li class="hover:bg-slate-200">Notifications</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
