{% extends "base.html" %}
{% block content %}
  <h1 class="text-2xl mb-1">Quest website home</h1>
  <p>
    Hello, {{ name }}. Welcome to the quest website. Would you like to
    <a
      href="/auth/discord/start"
      class="underline decoration-dashed hover:decoration-solid font-bold"
      >log in via Discord</a
    >?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus
    turpis neque, sed dapibus mauris pretium sit amet. Aliquam sed justo ut
    felis interdum scelerisque. Vivamus id volutpat augue. Vivamus sed augue id
    augue varius vestibulum. Cras ullamcorper purus at porttitor cursus. Sed
    elit elit, accumsan at pulvinar nec, cursus accumsan libero. Donec euismod
    nunc in ipsum tempor bibendum. Etiam scelerisque, nunc eu auctor tincidunt,
    erat purus volutpat arcu, eget molestie quam urna nec lacus. Proin mauris
    nisi, pellentesque eget volutpat et, tincidunt maximus diam. Donec vitae
    suscipit diam.
  </p>

  <p>
    Nullam ultricies egestas suscipit. Etiam sit amet ultricies libero. Nam
    neque purus, ultrices at dignissim blandit, tincidunt eget quam. Praesent
    vel leo vel eros iaculis aliquam vitae sit amet est. Quisque tincidunt sem
    quis orci aliquam convallis. Vivamus eu purus eget neque egestas maximus at
    vitae nisi. In hac habitasse platea dictumst. Vestibulum tristique dui
    nulla, et commodo ex efficitur id. Phasellus dapibus feugiat congue. Aliquam
    viverra euismod lectus, a placerat leo ornare at. Mauris quam neque,
    sollicitudin vitae eros ut, ultricies tincidunt odio. Fusce vestibulum enim
    laoreet dui hendrerit, sed efficitur sapien ornare.
  </p>

  <p>
    Etiam et elit at libero euismod mattis vel quis nunc. Suspendisse potenti.
    Nam ac ex nisi. Mauris facilisis molestie libero, et suscipit ex suscipit
    quis. Fusce imperdiet libero nulla, sed semper diam sodales sit amet. Sed
    viverra ut nulla quis fringilla. Nunc id malesuada quam, eget tincidunt
    mauris. Duis vel suscipit risus, non maximus tellus.
  </p>

  <p>
    Aliquam semper diam vitae nibh scelerisque, sed finibus metus vehicula.
    Curabitur scelerisque sapien non velit vestibulum condimentum. Vestibulum
    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    Sed eget laoreet ligula. Cras posuere scelerisque arcu, id convallis ligula
    aliquet in. Vestibulum tortor metus, vulputate ut risus et, egestas maximus
    massa. Sed lorem est, convallis sit amet magna ultrices, fringilla lacinia
    sapien. Cras iaculis scelerisque pretium. Vestibulum ultrices varius
    egestas. Nulla vel enim ipsum. Curabitur posuere elit at neque placerat, a
    interdum leo tincidunt.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>

  <p>
    Sed nec metus eget velit sagittis pretium. Mauris sodales dolor eu nisi
    convallis feugiat. Donec sagittis ut purus ut porta. Aenean condimentum
    sodales faucibus. Suspendisse tincidunt laoreet nisl, rutrum vestibulum mi.
    Donec porta nisl tortor, sit amet egestas justo aliquet aliquet. Donec sit
    amet porta velit. Etiam purus mi, pretium nec orci in, tempus ultrices
    ipsum. Sed maximus dui a neque consequat, ac vestibulum lacus vulputate.
    Etiam lacus magna, sagittis sit amet ipsum id, dictum congue purus. Cras
    dictum justo at lacus faucibus posuere. Pellentesque condimentum ullamcorper
    diam, et semper lectus suscipit a.
  </p>
{% endblock content %}
